.product-cards-container {
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-self: center;
}

.product-feature-card {
    width: auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:var(--green-opaque);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 10px 10px 10px var(--gray-opaque);
    padding: 1rem 2rem;
}

.product-feature-card:hover {
  scale: 1.05;
}